.case {
    height: 50px; width: 50px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    float: left;
}

.bord {
    margin-left: 100px;
    margin-top: 50px;
    width: fit-content;
    height: 200px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

*{box-sizing: border-box;}