#board {
    margin-top: 50px;
    white-space: nowrap;
}

.section {
    width: 90px;
    height: 90px;
    display: inline-block;
    background-color: #f1f3f5;
}

table { border-collapse: collapse; }
  
td { border: 1px solid white; }

#menu {
    width: 90px;
    height: 90px;
    position: fixed;
    background-color: #f1f3f5;
    top: 100px;
    right: 30px;
}