body{
    
    background-image: url(img/background.png);
    background-size: 5000px 5000px;
}

h1{
    text-align: center;
}

h3{
    margin-bottom: 3px;
}

h4{
    padding-top: 5px;
    margin-top: 10px;
    
}

nav{
    float: left; width: 200px; 
    background-color: #d8d4be;
    padding-top: 10px;
}

#main{margin-left: 220px; padding-left: 20px;}

.def1{float: left; width: 30px;}
.def2{margin-left: 60px; margin-top: 34px;}

h4{
    margin-bottom: 4px;
    text-decoration: underline;
}

p{
    margin-top: 10px;
    margin-bottom: 20px;
}

ul{
    margin-top: 0px;
}

.terre{
    background-color:#daf1ca;
    padding-left: 10px;
    
}

.eau{
    background-color:#cbdaf2 ;
    padding-left: 10px;
}

.feu{
    background-color:#f0c9c9;
    padding-left: 10px;
}

.mixfe{
    background-image: url(img/eau_feu.png);
    background-size: 100%;
    padding-left: 10px;
}

.mixte{
    background-image: url(img/terre_eau.png);
    background-size: 100%;
    padding-left: 10px;    
}

.sort{
    width: 500px;
    margin: 20px;
}
.liste{
    display: flex;
}