body{
    margin: 0px;
    background-color: #4d4a51;
}


.case {
    margin: 10px;
    border: 1px solid #ffffff5c;
    height: 50px;
    width: 500px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.first {
    background-image: linear-gradient(to right, #A9F1DF , #FFBBBB);
}

.second {
    background-image: linear-gradient(to right, #38ADAE , #EA8D8D);
}

.third {
    background-image: linear-gradient(to right, #CD295A ,  #A890FE);
}

