body{/*
    
    background-image: url(img/background.png);
    background-size: 100%;*/
}


header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: teal;
}

h1{ 
    text-align: center;
}

h2{ margin-bottom: 10px ; }

h3{ margin-bottom: 3px; }

h4{
    margin-bottom: 4px;
    text-decoration: underline;
    padding-top: 5px;
    margin-top: 10px;
}


#nav{
    position: fixed; 
    top: 180px;
}

#nav_index{
    position: fixed; 
    top: 100px;
}

#vigation{
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
}


nav{
    padding-top: 10px;
}

#main{ 

    margin-left: 220px; margin-top: 157px; 

    max-height: 493px;
    overflow-y: scroll;
    animation: fadeEffect 1s;
    background-position: right;
}

#main_index{

    margin-left: 220px; margin-top: 100px; 

    max-height: 541px;
    overflow-y: scroll;
    animation: fadeEffect 1s;
    background-position: right;

}

.def1{ float: left; width: 30px; }

.def2{ margin-left: 60px; margin-top: 34px; }

/*p{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}*/

ul{ margin-top: 0px; }

.terre{ background-color:#daf1ca; padding-left: 10px; }

.eau{ background-color:#cbdaf2 ; padding-left: 10px; }

.feu{ background-color:#f0c9c9; padding-left: 10px; }

.mixfe{
    background-image: url(img/eau_feu.png);
    background-size: 100%;
    padding-left: 10px;
}

.mixte{
    background-image: url(img/terre_eau.png);
    background-size: 100%;
    padding-left: 10px;
}

.sort{ width: 500px; margin-top: 1px; margin-left: 20px; margin-right: 20px ; }

.liste{
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
    padding: 1px;
}

.li2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tab{ margin-right: 20px; }

/*::-webkit-scrollbar
    {
        width: 5px
    }

::-webkit-scrollbar-thumb
{   
    background : #00808030;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #00dcff95;
}*/

.scroll
{
    max-height: 520px;
    width: 100%;
    overflow-y: scroll;
    animation: fadeEffect 1s;
    background-position: right;
}

.zeroTop{
    padding-top: 0px;
    margin-top: 0px;
}

td{text-align: center;}
